*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#root{
    min-height: 100vh;
}
#root{
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
}

.header_link {
    padding-right: 15px;
    text-decoration: none;
}

main {
    margin: 15px 0;
    flex: 1;
}
.conteiner_box {

}
.head_name_chats {
    padding-right: 15px;
}
.author_box {
    display: flex;
    margin: 5px 2px 5px 0;
}
.author_name {
    color: green;
    margin-right: 5px;
}
