body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h1{
  color: white;
}

.nameTxt{
  color: #197019;
  font-size: 40px;
  font-family: cursive;
}

.input {
  display: flex;
  flex-direction: column;
  width: 226px;
  margin-bottom: 15px;
}

.box {
  display: flex;
  justify-content: space-around;
}

.box:nth-child(2n) {
  background-color: #747774;
}

.author {
  font-family: sans-serif;
  color: #197019;
  font-weight: 500;
  max-width: 250px;
  padding: 0 10px;
}

.message {
  font-family: sans-serif;
  color: #fefffe;
  font-weight: 500;
  padding: 0 10px;
}

.button{
  width: 224px;
}
