body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h1{
  color: white;
}

.nameTxt{
  color: #197019;
  font-size: 40px;
  font-family: cursive;
}

.button {
  outline: 1px solid;
  box-sizing: border-box;
  padding: 8px 50px;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
  margin-top: 10px;
}

.button:hover{
  background-color: #197019;
  outline: none;
  box-sizing: border-box;
}

.input {
  display: flex;
  flex-direction: column;
  width: 226px;
}

.box {
  display: flex;
  justify-content: space-around;
}

.author {
  font-family: sans-serif;
  color: #197019;
  font-weight: 500;
  width: 500px;
  
}

.message {
  font-family: sans-serif;
  color: #fefffe;
  font-weight: 500;
  width: 500px;
}


